/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --primary-color: #3ab0d4;
  --secondary-color: #081f40;
  --btn-color: #f7c95e;
  --background-color: #031531;
  --title-color: #84abdc;
  --text-color: #fff;
  --type-paragraph-small: 0.65rem;
  --type-paragraph-md: 1rem;
  --type-paragraph-large: 2rem;
  --type-paragraph-footer-mini: 0.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./img/fondo.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

li {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.card img {
  width: 150px;
  height: 150px;
  border: 3px solid #00aaff;
  object-fit: cover;
}

.header {
  display: flex;
  padding: 1em;
}

.navbar {
  margin-left: auto;
}

.navbar__list {
  display: flex;
  gap: 25px;
  padding-left: 1em;
}

.navbar__item,
.navbar__item a {
  list-style-type: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.titlewrapper {
  justify-content: center;
  align-content: flex-end;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  gap: 3px;
}

.col {
  padding: 1.5em;
  flex-grow: 1;
  width: 100%;
}

.servicios__wrapper {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-btn,
.menu-btn-label {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1em;
  text-align: center;
}

.cards {
  background-color: #012233;
  display: flex;
  padding: 2em;
  border-radius: 15px;
}
.card .prototipo {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.579);
  border-radius: 15px;
  padding: 0.5rem;
}
.card .prototipo:hover {
  background-color: #012233;
  border-radius: 12px;
  border: 2px solid rgba(0, 0, 0, 0.584);
}

.servicios__title {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.card__title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin-top: 15px;
}

.main__title {
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.7rem;
  display: block;
  max-height: 100px;
}

.main__minisubtitle {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.main__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.footer {
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.4px;
  background-color: rgba(0, 0, 0, 0.587);
}
.footer img {
  width: 100px;
  border-radius: 0%;
}

.active {
  color: #fff;
  font-weight: 700;
  border-bottom: 3px solid #fff;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.portfolio_intro {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
  padding: 1em;
  background-color: var(--secondary-color);
}

.portfolio_title {
  font-size: var(--type-paragraph-large);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
  background-color: var(--secondary-color);
  width: 60%;
  margin: 0 auto;
}

.portfolio_text {
  font-weight: 300;
  font-size: var(--type-paragraph-md);
  text-align: center;
}

.portfolio_container {
  display: flex;
  width: 60%;
  gap: 10px;
}

.portfolio_card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  align-items: stretch;
  height: 300px;
  width: 150px;
}

.portfolio_card img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.card_top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.card_top {
  overflow: hidden;
  height: 75%;
}

.card_bottom {
  text-align: center;
  font-size: var(--type-paragraph-small);
  height: 25%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 0.5em 2em;
  line-height: 1.3;
}

.card_bottom a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card_bottom p:focus,
.card_bottom p:active,
.card_bottom p:hover {
  outline: none;
}

.portfolio-tecnologias {
  margin: 0 auto;
  width: 50%;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 0.5em;
}

.portfolio_tecnologias-h1 {
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1rem;
  color: var(--primary-color);
}

.portfolio_tecnologias-iconos {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.portfolio_tecnologias-icono img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

/* MEDIA QUERIES */
@media (max-width: 576px) {
  .navbar__item {
    font-size: 0.6rem;
  }

  .main__title {
    font-size: 2rem;
  }

  .portfolio_intro {
    width: 100%;
  }

  .portfolio_title {
    font-size: var(--type-paragraph-large);
  }

  .portfolio_text {
    font-weight: 300;
    font-size: var(--type-paragraph-md);
    text-align: center;
  }

  .portfolio_container {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .portfolio_card {
    width: 100%;
    height: auto;
  }

  .footer {
    font-size: var(--type-paragraph-footer-mini);
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .navbar__item {
    font-size: 0.7rem;
  }

  .cards {
    flex-direction: column;
    padding: 1em;
  }

  .portfolio {
    width: 100%;
  }

  .portfolio_intro {
    width: 90%;
  }
  .portfolio_container {
    flex-direction: row;
    width: 90%;
  }

  .footer {
    font-size: var(--type-paragraph-footer-mini);
  }
}

@media (max-width: 768px) {
  .navbar__list {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  input[type="checkbox"] {
    display: none;
  }

  .menu-btn-label {
    display: block;
    cursor: pointer;
    z-index: 10;
  }

  .menu-btn-label div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.3s;
  }

  /* Mostrar el menú hamburguesa cuando se haga clic */
  .menu-btn:checked ~ .navbar__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em;
  }

  .navbar__item {
    text-align: center;
    width: 100%;
  }

  .cards {
    flex-direction: column;
    padding: 1em;
  }

  .servicios__title {
    font-size: 1.8rem;
  }

  .servicios__wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .main__title {
    font-size: 6vw;
  }

  .main__minisubtitle {
    font-size: 4vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navbar__item {
    font-size: 0.8rem;
  }

  .portfolio_container {
    gap: 20px;
    flex-direction: row;
  }

  .cards {
    padding: 1.5em;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .navbar__item {
    font-size: 0.85rem;
  }

  .portfolio_container {
    flex-direction: row;
    gap: 25px;
  }

  .cards {
    padding: 2em;
  }
}

@media (min-width: 1441px) {
  .navbar__item {
    font-size: 1rem;
  }

  .portfolio_container {
    gap: 30px;
  }

  .cards {
    padding: 2.5em;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0.5em;
  }

  .navbar__item {
    font-size: 0.7rem;
    padding: 0.5em 0;
  }

  .servicios__title {
    font-size: 1.5rem;
  }

  .main__title {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
  }

  .main__minisubtitle {
    font-size: 0.8rem;
  }

  .cards {
    padding: 1em;
    flex-direction: column;
  }

  .card {
    padding: 0.5em;
  }

  .card__title {
    font-size: 0.9rem;
  }

  .footer {
    font-size: 0.6rem;
  }
}

/* INDEX */

.cta-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff00;
  padding-bottom: 4.5em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-text {
  max-width: 60%;
  text-align: left;
}

.cta-text h2 {
  font-size: 2.2rem;
  color: #f5f5f5;
  text-shadow: 1.5px 1.5px 0 #000000af;
}

.cta-text p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #c5c5c5;
  text-shadow: 1.5px 1.5px 0 #000000af;
}

.cta-button {
  display: block;
  padding: 10px 20px;
  background-color: #2f49a0;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  margin: auto;
}

.cta-button:hover {
  background-color: #0056b3;
}

.cta-image {
  max-width: 35%;
}

.cta-image img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* RESPONSIVE INICIO */

@media (max-width: 768px) {
  .cta {
    flex-direction: column;
    text-align: center;
  }

  .cta-container {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff00;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .cta-text,
  .cta-image {
    max-width: 100%;
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .cta-text h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .cta-text p {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .cta-text h2 {
    font-size: 1.2rem;
  }

  .cta-text p {
    font-size: 0.9rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

/* FIN DE INICIO */

/* SERVICIOS */

h1,
h2 {
  text-align: center;
  color: #ffffff;
}

/* Servicios Wrapper */
.servicios__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}

.servicio {
  background-color: #00000098;
  color: #f3f3f3;
  border-radius: 5px;
  padding: 20px;
  margin: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 30%;
  text-align: center;
  transition: transform 0.3s ease;
}

.servicio:hover {
  transform: scale(1.05);
}

/* Imagenes */
.imagenes__fila {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.imagenserv {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenserv img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.imagenserv p {
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

/* Responsive */
@media (max-width: 768px) {
  .imagenserv {
    flex: 1 1 45%;
  }
}

@media (max-width: 480px) {
  .imagenserv {
    flex: 1 1 100%;
  }
}
/* Valores */
.valores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.valor {
  background-color: #000000c9;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .servicios__wrapper,
  .imagenes__fila {
    flex-direction: column;
  }

  .servicio,
  .imagenserv {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  main {
    padding: 10px;
  }

  h1,
  h2 {
    font-size: 20px;
  }

  .servicio {
    padding: 15px;
  }

  .imagenserv img {
    max-width: 90%;
  }

  .valor {
    padding: 10px;
  }
  body {
    background-image: url(./img/fondo.jpg);
    background-size: cover;
  }
}

/* FIN SERVICIOS */

/* SOPORTE */

.soporte__wrapper {
  padding: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.soporte__title {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.soporte__cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  flex-wrap: wrap; /* Asegura que las tarjetas se ajusten en pantallas pequeñas */
  flex-direction: row; /* Mantiene la dirección de flujo en fila en todas las dimensiones */
}

.soporte__card {
  padding: 15px;
  flex: 1 1 200px; /* Permite que las tarjetas se ajusten y crezcan */
  max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.soporte__card__content {
  width: 100%; /* Ajusta el ancho según sea necesario */
  text-align: center; /* Centra el texto dentro del contenedor */
}

.soporte__card__img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.soporte__card__title {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin-top: 15px;
  text-decoration: underline;
}

.soporte__descripciones {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.soporte__descripcion {
  display: flex;
  justify-content: space-between;
  margin-top: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  gap: 20px;
}

.soporte__descripcion__img {
  max-width: 268px;
  height: auto;
  border-radius: 30px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.soporte__texto {
  padding: 30px;
}

.soporte__texto__titulo {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.soporte__texto__parrafo {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .soporte__cards {
    justify-content: center;
  }

  .soporte__card {
    max-width: 100%;
  }

  .soporte__descripcion {
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }

  .soporte__descripcion__img {
    width: 100%;
    height: auto;
  }

  .soporte__texto {
    padding: 15px;
  }

  .soporte__texto__titulo {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .soporte__cards {
    justify-content: center;
  }

  .soporte__card {
    max-width: 100%;
  }

  .soporte__descripcion {
    margin-top: 50px;
  }

  .soporte__descripcion__img {
    width: 100%;
    height: auto;
  }

  .soporte__texto {
    padding: 10px;
  }

  .soporte__texto__titulo {
    font-size: 1rem;
  }
}

/* FIN DE SOPORTE */
